---
---

@import "{{ site.theme }}";

/* Very subtle nature-inspired touches */
body {
  background-color: #faf9f7; /* barely-there warm sepia */
}

/* Slightly warmer link color */
a {
  color: #258040; /* subtle forest green */
}
